

 section {
    padding: 0;
    margin: 0;
    height: 100%;
 }

 .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* min-height: 100dvh; */
    width: 100%;
    position: relative;
    height: auto;
    overflow: visible;


   
}
.greetings {
    position: absolute;
    bottom: 0;
    top: 64%;
    width: 95%;
    height: 27%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 1em;
    z-index: 10;
   


}

.greetings h2 {
    font-size: 1em;
    padding-top: 0.3em;
}
.greetings p {
    padding: 0.2em;
    text-align: center;
    font-size: 0.79em;
    font-weight: lighter;
    opacity: 0.7;  
}
 .image {
    width: 100%;
    height: 75%;
    overflow: hidden;
    position: relative;
}

.image img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.adress {
    width: 100%;
    padding-top: 1.3em;
    margin-top: 1.3em;
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #eee;
  
}

.adress :first-child {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 0.8em;
}

.adress p {
   opacity: 0.7;
   padding: 0.3em;
}


