@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

html {
    font-size: clamp(12px, 12px + 0.2vw, 18px);
    font-family: 'Gochi Hand', sans-serif;
}


p, ul, ol {
    padding-bottom: 1.5em;
}
body {
    font-size: inherit;
}
